<!-- start custom analytics snippet -->
<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
    var sc_project=11652693;
    var sc_invisible=1;
    var sc_security="b36c741f";
</script>

<script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js"
async></script>

<noscript><div class="statcounter"><a title="web stats"
    href="http://statcounter.com/" target="_blank"><img
    class="statcounter"
    src="//c.statcounter.com/11652693/0/b36c741f/1/" alt="web
stats"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide --> 
<!-- end custom analytics snippet -->